/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
    margin: 2em;
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em;
}

/* zocial */
[class*="zocial-"]:before {
    display: inline-block;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 6vw;
}

header {
    margin: 0 auto;
    max-width: 50em;
    padding-left: 80px;
    border-bottom: 2px solid #ddd;
}

.header-image {
    display: inline-block;
    max-width: 4vw;
    float: left;
}

h1 {
    padding-left: 0.5em;
}

article {
    /* text-align: center; */
    margin: 0 auto;
    max-width: 50em;
    width: 100%;
    border-bottom: 2px solid #ddd;
}

.blogsection {
    /* border: 1px solid red; */
    display: table;
    width: 1%;
}

.blogsectionp {
    padding-left: 3em;
    padding-right: 2em;
    padding-bottom: 2em;
}

img {
    max-width: 80vmin;
    max-height: 80vmin;
    /* max-width: 100%; */
}

figcaption {
    font-weight: bold;
    font-style: italic;
    color: darkmagenta;
    text-align: center;
}

.smiley {
    font-weight: bold;
    font-size: 34px;
}

div#social {
    line-height: 2em;
}

div#sourceref {
    border-top: 2px solid #ddd;
    line-height: 2em;
}

footer {
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
}
